* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3vh 3vw;
}

form {
  display : flex;
  flex-direction: column;
  gap: 2vh;
}

.input-ctn {
  display: flex;
  gap: 1vw;
}

#submit-ctn {
  width: 30vw;
  display: flex;
  gap: 2vw;
  align-items: center;
}

#btn {
  width: 10vw;
  height: 4vh;
  color: white;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: darkgray;
  color: black;
}

#result {
  font-weight: 700;
  font-size: 20px;
}
